<nav
    class="bg-black transition-colors duration-1000 w-full h-[116px]  px-8 lg:pl-[4.75rem] lg:pr-[3.125rem] md-s:block sticky top-0 z-[99] top-0">
    <div class="flex items-center justify-between mx-auto w-full max-w-[1440px] h-full">
        <!-- <a aria-current="page" href="index.html"
                   class="router-link-active router-link-exact-active block absolute left-0 right-0 mx-auto w-fit">
                   
                   </a> -->
        <img (click)="navigate('/')" style="border-radius: 20px; width: 60px; height:60px;cursor: pointer;"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdKzQX7JGDyCC30u1Rt6Ib-o5n3WPRKPcoI5XVkI-3fw&s"
            alt="logo" class="object-center h-10">
        <ul class="flex items-center justify-between">
            <!--[-->
            <li (click)="navigate('/')" class="mr-6 md-x:mr-10 last:mr-0">
                <div class="cursor-pointer nav-link relative">
                    <div class="flex">
                        <span
                            class="text-white transition-colors select-none duration-1000 text-sm block mr-3.5 hover:text-[#3DDC97]">
                            Home</span>
                    </div>
                </div>
            </li>
            
            <li (click)="navigate('/properties/rentals/ibadan')" class="mr-6 md-x:mr-10 last:mr-0">
                <div class="cursor-pointer nav-link relative">
                    <div class="flex">
                        <span
                            class="text-white transition-colors select-none duration-1000 text-sm block mr-3.5 hover:text-[#3DDC97]">
                            Properties</span>
                    </div>
                </div>
            </li>
            <li (click)="navigate('/properties-bookmarks')" class="mr-6 md-x:mr-10 last:mr-0">
                <div class="cursor-pointer nav-link relative">
                    <div class="flex">
                        <span
                            class="text-white transition-colors select-none duration-1000 text-sm block mr-3.5 hover:text-[#3DDC97]">
                            Bookmarks</span>
                    </div>
                </div>
            </li>
            <li class="mr-6 md-x:mr-10 last:mr-0">
                <div class="cursor-pointer nav-link relative">
                    <div class="flex">
                        <span
                            class="text-white transition-colors select-none duration-1000 text-sm block mr-3.5 hover:text-[#3DDC97]">
                            Relocation Services</span>
                       
                    </div>
                    
                </div>
                
            </li>
            <li class="mr-6 md-x:mr-10 last:mr-0">
                <a class="text-white text-sm hover:text-[#3DDC97]" href="https://blog.swiftcrib.africa/"
                    target="_blank">Market Place</a>
            </li>
            <li class="mr-6 md-x:mr-10 last:mr-0">
                <a href="about.html" class="text-white text-sm hover:text-[#3DDC97]">About Us</a>
            </li>
            <!--]-->
        </ul>
        <div class="flex items-center">
            <div class="flex items-center">
                <a style="margin-right: 50px;" href="/contact-us" class="text-sm text-white mr-7 hover:text-[#3ddc97] cursor-pointer">Contact Us</a>
                <a *ngIf="!user" href="/authentication#signin"
                    class="text-sm text-white mr-7 hover:text-[#3ddc97] cursor-pointer">Log In</a>

                <a *ngIf="!user" href="/authentication#signup"
                    class="text-white font-semibold bg-primary-orange py-2 px-6 rounded-[20px] block hover:text-white mr-5">
                    Create Account </a>
                <div *ngIf="user" class="flex-col">
                    <div style="gap:16px;justify-content: flex-start;" class="flex-row-sb">
                        <img style="cursor: pointer;" (click)="changeAvatar($event)" class="avatar"
                            src="https://be.efielounge.com//accounts/25-06-2024/31d136a6-9090-4654-9b3a-5b4f800418bb-HD.png" />
                        
                        <a *ngIf="user" class="logout flex-row-sb" (click)="logout()" href="javascript:void(0)" title="Logout"
                            itemprop="url">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path
                                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" />
                            </svg>
                            <span>Logout</span>
                        </a>

                    </div>
                    <span class="account">{{shortenEmail(user?.email)}}</span>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- <div class="seperator"></div> -->
<input class="avatar-input" hidden [hidden]="true" (change)="onAvatarChange($event)" type="file"
                            accept="image/png, image/jpeg, image/gif, image/webp" />