<section style="width:100%;">
  <div class="container">
    <div class="carousel">
      <!-- <input type="radio" name="slides" checked="checked" id="slide-1"> -->
      <ng-container *ngFor="let attachment of attachments; let i = index">
        <input type="radio" name="slides" id="slide-{{i + 1}}">
      </ng-container>
      <ul class="carousel__slides">
        <ng-container *ngFor="let attachment of attachments; let i = index">
          <li class="carousel__slide">
            <figure>
              <div>
                <img *ngIf="attachment.type==='image'" src="{{serverUrl}}{{attachment?.url}}" (load)="onImageLoad()"
                  alt="image 5">
                <video *ngIf="attachment.type==='video'" (mouseenter)="addPlayerIconOpacity()"
                  (mouseleave)="removePlayerIconOpacity()" controls class="carousel-video" (play)="onPlay()"
                  (pause)="onPause()" (ended)="onEnded()" (loadeddata)="onVideoLoad()" src="{{serverUrl}}{{attachment?.url}}"
                  alt="image 5">
                </video>
              </div>
            </figure>
          </li>
        </ng-container>
      </ul>
      <ul class="carousel__thumbnails">
        <ng-container *ngFor="let attachment of attachments; let i = index">
          <li>
            <label for="slide-{{i + 1}}">
              <img *ngIf="attachment.type==='image'" src="{{serverUrl}}{{attachment?.url}}" (load)="onImageLoad()"
                  alt="image 5">
                <video *ngIf="attachment.type==='video'" class="carousel-video"
                   src="{{serverUrl}}{{attachment?.url}}"
                  alt="image 5">
                </video>
            </label>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</section>