
  <div class="carousel" data-carousel="1" data-speed="2000">
    <span class="carousel-control-left"></span>
    <span class="carousel-control-right"></span>
    <div class="carousel-content">
      <!-- add extra last pic first and extra first pic last for hover effect to work properly  -->
      <img src="/assets/_images/demo/home1.png" alt="image 5" />
      <img src="/assets/_images/demo/home2.png" alt="image 1" />
      <img src="/assets/_images/demo/home3.png" alt="image 2" />
  
      <img src="/assets/_images/demo/home4.png" alt="image 3" />
  
      <img src="/assets/_images/demo/home2.png" alt="image 4" />
  
      <img src="/assets/_images/demo/home1.png" alt="image 5" />
      <img src="/assets/_images/demo/home4.png" alt="image 1" />
    </div>
  </div>
