<head>
   <link rel="stylesheet" href="/assets/css/icons.min.css">
</head>

<div id="__nuxt">
   <div>
      <div>
         <app-swiftcrib-header></app-swiftcrib-header>
         <div class="w-full bg-[#020202] block md-s:hidden sticky top-0 min-h-[76px] z-[100]" data-v-b22914f3>
            <div
               class="flex-row-sb justify-between w-full bg-[#020202] items-center relative sm:px-9 pl-6 pr-4 py-6 z-10"
               data-v-b22914f3>
               <div class="w-6" data-v-b22914f3>
                  <div data-v-b22914f3>
                     <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#ffffff"
                           d="M17.1321 11.2338H1.87335C0.851494 11.2338 0 10.573 0 9.77999C0 8.98698 0.851494 8.32617 1.87335 8.32617H17.1662C18.188 8.32617 19.0395 8.98698 19.0395 9.77999C19.0053 10.573 18.188 11.2338 17.1323 11.2338H17.1321Z">
                        </path>
                        <path
                           d="M10.5245 19.5346H1.87335C0.851494 19.5346 0 18.8738 0 18.0808C0 17.2878 0.851494 16.627 1.87335 16.627H10.5245C11.5464 16.627 12.3979 17.2878 12.3979 18.0808C12.3981 18.9001 11.5466 19.5346 10.5248 19.5346H10.5245Z"
                           fill="#ffffff"></path>
                        <path
                           d="M23.0926 2.90764H1.87335C0.851494 2.90764 0 2.24684 0 1.45382C0 0.660806 0.851494 0 1.87335 0H23.1267C24.1485 0 25 0.660806 25 1.45382C24.9658 2.24684 24.1485 2.90764 23.0927 2.90764H23.0926Z"
                           fill="#ffffff"></path>
                     </svg>
                  </div>
               </div>
               <div class="flex flex-col items-end" data-v-b22914f3>
                  <a aria-current="page" href="index.html" class="router-link-active router-link-exact-active"
                     data-v-b22914f3>
                     <img src="/assets/_nuxt/logo-white.FI7GlC69.svg" alt="logo" class="object-center h-10"
                        data-v-b22914f3><!---->
                  </a>
               </div>
               <div class="block" data-v-b22914f3>
                  <div class="relative inline-block text-left">
                     <div>
                        <button id="menu-button" type="button" class="flex items-center" aria-expanded="true"
                           aria-haspopup="true">
                           <div class="w-[25px] h-[17px] mr-1"><img src="icons/countries/ng.svg" alt=""
                                 class="w-full h-full object-center"></div>
                           <svg class="w-8 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#fff"
                              aria-hidden="true">
                              <path fill-rule="evenodd"
                                 d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                 clip-rule="evenodd"></path>
                           </svg>
                        </button>
                     </div>
                     <!---->
                  </div>
               </div>
            </div>
            <!---->
         </div>
         <!--[-->
         <!-- <div class="nuxt-loading-indicator"
              style="position:fixed;top:0;right:0;left:0;pointer-events:none;width:auto;height:3px;opacity:0;background:repeating-linear-gradient(to right,#00dc82 0%,#34cdfe 50%,#0047e1 100%);background-size:Infinity% auto;transform:scaleX(0%);transform-origin:left;transition:transform 0.1s, height 0.4s, opacity 0.4s;z-index:999999;">
           </div> -->
         <div class="n-config-provider">
            <!--[--><!--teleport start--><!--teleport end--><!--[-->
            <div
               class="sticky top-0 w-full z-[999] transition-all duration-[0.8s] py-3 sm:py-6 px-5 sm:px-16  opacity-0 hidden">
               <div class="flex-row-sb justify-between items-center">
                  <p class="text-[#fff] font-normal text-sm md:text-base leading-6 self-start"></p>
                  <button class="bg-gray-300 py-2 px-2 rounded h-7 flex items-center justify-center ml-5">
                     <svg width="11" height="11" viewbox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                           d="M16.3339 13.1199L11.714 8.50227L16.3313 3.88462C17.2194 2.99901 17.2194 1.55762 16.3313 0.672002C15.4432 -0.221402 14.0071 -0.218805 13.1189 0.669405L8.49903 5.28706L3.87913 0.664211C2.99099 -0.223999 1.5523 -0.218805 0.664159 0.664211C-0.221386 1.55242 -0.221386 2.99381 0.664159 3.87943L5.28665 8.50227L0.674547 13.1121C-0.213596 14.0003 -0.213596 15.4417 0.674547 16.3248C1.11862 16.7715 1.69773 16.9922 2.27943 16.9922C2.86374 16.9922 3.44285 16.7715 3.88692 16.3273L8.49903 11.7149L13.1215 16.3351C13.5656 16.7792 14.1447 17 14.7264 17C15.3081 17 15.8898 16.7766 16.3339 16.3351C17.222 15.4469 17.222 14.0081 16.3339 13.1199Z"
                           fill="red"></path>
                     </svg>
                  </button>
               </div>
            </div>
            <!---->
            <div class="min-h-screen">
               <div>
                  <app-search-widget (setFilters)="setFilters($event)" [redirect]="redirect"></app-search-widget>

               </div>
               <div class="bg-black properties-title">
                  <h4>Properties for {{serviceType}}</h4>
               </div>

               <div #propertiesList  style="margin-bottom: 70px!important;"
                  class="w-full container properties-list list-container">
                  <div  style="overflow-x: hidden; flex-wrap: wrap; padding-bottom: 50px;" class="flex scroll-smooth">
                     <ng-container *ngIf="properties.length > 0">
                        <ng-container *ngFor="let listing of properties">
                           <a href="javascript:void(0)" style="margin-top:40px" class="mr-4">
                              <div [ngClass]="listing?.listingCategory=='HIGH CLASS' ? 'listing-card-luxury' : ''"
                                 class="min-w-[300px] listing-card md-x:min-h-[486px] min-h-[318px] overflow-hidden">
                                 <!-- <i [ngStyle]="{'color': true ? 'orange' : 'gray'}" class="fa fa-heart"></i> -->
                                 <div class="image-container relative">
                                    <div class="saved-cont absolute top-0 right-0 z-10">
                                       <svg *ngIf="!isBookMarked(listing?._id)" (click)="localBookMark(listing)"
                                          class="saved absolute top-0 right-0 z-10" xmlns="http://www.w3.org/2000/svg"
                                          viewBox="0 0 512 512" width="24" height="24">
                                          <path [ngStyle]="{'fill': true ? 'gray' : 'gray'}"
                                             d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z" />
                                       </svg>
                                       <svg *ngIf="isBookMarked(listing?._id)" (click)="localBookMark(listing)"
                                          class="saved absolute top-0 right-0 z-10" xmlns="http://www.w3.org/2000/svg"
                                          viewBox="0 0 512 512">
                                          <path [ngStyle]="{'fill': true ? 'orange' : 'gray'}"
                                             d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                                       </svg>
                                    </div>
                                    <img src="{{serverUrl}}{{listing?.listingMedia[0].url}}" alt="6769-lagos-palmspring-8c"
                                       class="w-full object-fill object-center rounded-[20px] listing">
                                 </div>
   
                                 <div class="max-h py-5 px-3">
                                    <div class="flex-row-sb flex-row justify-between items-center mb-3">
                                       <h3 class="font-bold sm:text-lg text-base" title="{{listing?.street}}">
                                          {{listing?.street}}
                                       </h3>
                                       <div style="gap:5px" class="flex items-center">
                                          <svg width="22" height="22" viewbox="0 0 25 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg" class="mr-1">
                                             <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M15.4989 10.5005C15.4989 9.11924 14.3796 8 12.9994 8C11.6181 8 10.4989 9.11924 10.4989 10.5005C10.4989 11.8808 11.6181 13 12.9994 13C14.3796 13 15.4989 11.8808 15.4989 10.5005Z"
                                                stroke="#130F26" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round">
                                             </path>
                                             <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M12.9984 21C11.7999 21 5.49887 15.8984 5.49887 10.5633C5.49887 6.38664 8.85597 3 12.9984 3C17.1408 3 20.4989 6.38664 20.4989 10.5633C20.4989 15.8984 14.1969 21 12.9984 21Z"
                                                stroke="#130F26" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round">
                                             </path>
                                          </svg>
                                          <span class="text-sm text-xs text-[#4B4F63]" title="">{{listing?.lga}}</span>
                                       </div>
                                    </div>
                                    <div class="flex-row-sb justify-between items-center">
                                       <div class="flex items-center"><span
                                             class="text-sm text-xs text-[#4B4F63]">{{listing?.beds}}
                                             bed(s)</span><span
                                             class="block bg-[#4B4F63] h-[5px] w-[5px] rounded-full mx-2.5"></span><span
                                             class="text-sm text-xs text-[#4B4F63]">{{listing?.baths}}
                                             bath(s)</span>
                                       </div>
                                       <div class="flex items-center">
                                          <svg width="22" height="22" viewbox="0 0 22 22" fill="none"
                                             xmlns="http://www.w3.org/2000/svg" class="mr-1">
                                             <path
                                                d="M8.15722 19.7714V16.7047C8.1572 15.9246 8.79312 15.2908 9.58101 15.2856H12.4671C13.2587 15.2856 13.9005 15.9209 13.9005 16.7047V16.7047V19.7809C13.9003 20.4432 14.4343 20.9845 15.103 21H17.0271C18.9451 21 20.5 19.4607 20.5 17.5618V17.5618V8.83784C20.4898 8.09083 20.1355 7.38935 19.538 6.93303L12.9577 1.6853C11.8049 0.771566 10.1662 0.771566 9.01342 1.6853L2.46203 6.94256C1.86226 7.39702 1.50739 8.09967 1.5 8.84736V17.5618C1.5 19.4607 3.05488 21 4.97291 21H6.89696C7.58235 21 8.13797 20.4499 8.13797 19.7714V19.7714"
                                                stroke="#4B4F63" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round">
                                             </path>
                                          </svg>
                                          <span class="text-sm text-xs text-[#4B4F63]">{{listing?.dwellingType}}</span>
                                       </div>
                                    </div>
                                    <hr class="w-full my-4 border-[#2e48da]/[0.1]">
                                    <div style="flex-direction: column;" class="flex-row-sb justify-between items-center">
                                       <p [ngStyle]="{'color': listing?.listingCategory=='HIGH CLASS' ? 'orange' : 'gray'}"
                                          class="social-class text-sm text-xs text-[#4B4F63]">{{listing?.listingCategory}}
                                       </p>
                                       <p class="text-sm text-xs text-[#4B4F63]">Rent at <span
                                             class="font-bold text-black">NGN
                                             {{listing?.fullPrice.toLocaleString()}}</span>
                                          yearly
                                       </p>
                                       <div class="flex items-center">
                                          <svg width="16" height="17" viewbox="0 0 16 17" fill="none"
                                             xmlns="http://www.w3.org/2000/svg" class="mr-1.5">
                                             <path
                                                d="M13.7143 7.94504V8.50361C13.7136 9.81287 13.3146 11.0868 12.5768 12.1354C11.839 13.1841 10.8019 13.9512 9.6202 14.3224C8.43853 14.6936 7.17558 14.6491 6.0197 14.1953C4.86382 13.7416 3.87695 12.903 3.20626 11.8047C2.53558 10.7063 2.21702 9.40708 2.2981 8.10066C2.37918 6.79424 2.85555 5.55067 3.65616 4.55541C4.45677 3.56015 5.53873 2.86653 6.74068 2.57799C7.94262 2.28945 9.20015 2.42146 10.3257 2.95433M13.7143 3.64648L8 9.72398L6.28571 7.90255"
                                                stroke="#4B4F63" stroke-linecap="round" stroke-linejoin="round"></path>
                                          </svg>
                                          <span class="text-sm text-xs text-[#4B4F63]">All bills included</span>
   
                                       </div>
   
                                    </div>
                                 </div>
                              </div>
   
                           </a>
                        </ng-container>
                     </ng-container>
                     
                     <svg *ngIf="loading" class="gear-spinner loading-svg" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 160 160">
                     <circle cx="80" cy="80" r="55" fill="none" stroke="black" stroke-width="40" />
                     <g transform="translate(80, 80)">
                        <circle cx="0" cy="0" r="55" fill="none" stroke="white" stroke-width="35"
                           stroke-dasharray="0, 345" stroke-linecap="round">
                           <animateTransform attributeName="transform" type="rotate" from="0" to="360" begin="0s"
                              dur="0.75s" repeatCount="indefinite" />
                           <animate attributeName="stroke-dasharray" values="0, 345; 172.5, 172.5; 0, 345" dur="1.5s"
                              repeatCount="indefinite" />
                        </circle>
                     </g>
                  </svg>
                  </div>
                  <div *ngIf="properties.length == 0 && loading==false" class="center-content">
                     <span class="no-results-text">Oooh sorry!</span>
                     <img src="/assets/_images/no-result2.webp"/>
                     <span class="no-results-text">No results were found for your search at this time!</span>
                  </div>
               </div>
            </div>
         </div>
         <app-swiftcrib-footer></app-swiftcrib-footer>
      </div>
   </div>
</div>